body{
    margin: 0;
    background: rgb(17, 16, 19);
    overflow: hidden;
    /*margin-right: 10px;*/
}

h1{    font-size: 28px;
}


/*ScrollBar*/
.scrollBar{
    height: 100%;
    right: 0;
    width: 10px;
    background: rgb(112, 112, 112);
    position: absolute;
    z-index: 100;
    display: none;
}

.bar{
    height: 33%;
    right: 0;
    top: 0;
    width: 10px;
    background: rgb(32, 32, 32);
    position: absolute;
    z-index: 101;
}


/*Navigation bar*/
nav{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    background: none;
    position: fixed;
    z-index: 100;
}
nav img{
    height: 100%;
}
nav button{
    height: 100%;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    transition: var(--time);
}

nav button:hover{
    color:rgb(0, 0, 0);
    background-color: rgba(220, 241, 253, 0.24);
    opacity: .8;
    transition: 0.1s;
}


.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}


/*The 3 sections on the document*/
section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -100%;
    transition: 1.2s;
}

.card{
    height: 500px;
    width: 90%;
    text-align: center;
}





/*Home Section**********************************/
#home .card{
    display: flex;
    justify-content: center;
    
}

#homeImg{
    margin: 0 25px;
    padding-top: 50px
}
#homeImg img{
    height: 350px;
}
#aboutMe{
    padding-top: 100px;
    width: 30%;
    text-align: justify;
}
#aboutMe h1{
    font-size: 185%;
    text-wrap: nowrap;
}
#aboutMe p{
    color: #2e2e2e;
}

/*Favicons*/
.fa {
    /* padding: 20px; */
    /* width: 30px; */
    text-align: center;
    text-decoration: none;
    font-size: 200% !important;
    margin-right: 30px;
    /* margin: 5px 2px; */
    /* border-radius: 50%; */
    /*margin: 0 25px;*/
} 
.fa:hover {
    opacity: 0.7;
}


/*Skills Section**********************************/
#skills .card{
    color: lightsteelblue;
    height: 600px;
    text-align: left;
}
#skills h1{
    text-align: center;
}
#skills p{
    text-align: justify;
}
.skillsContent{
    display: grid;
    justify-content: space-around;
    grid-template-columns: auto auto;
    justify-items: center;
}

#skills .value{
    width: 200px;
}

.list{
    justify-content: center;
}

/*Projects Section********************************/
#projects .card{
    color: lightsteelblue;
    height: 700px;
}
.projectsContent{
    display: grid;
    grid-template-columns: auto auto;
    /* align-items: center; */
    justify-items: center;
    /* align-content: space-evenly; */
    height: 100%;
    width: 100%;
}
.projectsContent a{
    width: 450px;
    height: 250px;
    position: relative;
}
.project{
    width: 100%;
    height: 100%;
}
.project img{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    border-radius: 5%;
}

.project img.tmb:hover{
    opacity: 0;
}


/*.project:hover #hc{
    display: absolute;
}*/

@media only screen and (max-width: 600px) {
    nav{
        width: auto;
    }
    body{
        overflow: hidden;
        height: 100vh;
    }
    #home .card{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
    }
    #homeImg img {
        height: 250px;
    }
    #aboutMe{
        width: 90%;
        text-align: justify;
    }
    #skills .card {
        height: 90vh;
        width: 100%;
    }
    .skillsContent {
        grid-template-columns: auto;
        width: 100%;
    }
    #skills .card p {
        width: auto;
        
    }
    #projects
    {
        justify-content: normal;
    }
  }